*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;      
}

 /* ****************************************
        COMIENZO DEL MENÚ DE NAVEGACIÓN
    **************************************** */

.menu-superior {
    height: 5rem;
    width: 100%;
    background-color: gray;
    position: fixed;
    margin-top: 0;
    padding-right: 10%;
    box-shadow: 5px 0 20px gray;
}

.menu-superior-lista{
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
}

.elemento-menu{
    margin-right: 3rem;
    list-style: none;
}

.menu-superior-link{
    text-decoration: none;
    color: aliceblue;
}

.menu-superior-link:visited{
    color:white;
}

.menu-superior-link:hover{
    color: black;
}


.boton-contacto{
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento-boton-contacto{
    list-style: none;
    color: white;
}

.boton-contacto-link{
    text-decoration: none;
    color: beige;
}

.boton-contacto-link:visited{
    color: white;
}

.boton-contacto:hover{
    background-color: rgb(153, 148, 148);
    transition: 0.4s;
}

/* ****************************************
        FINAL DEL MENÚ DE NAVEGACIÓN
    **************************************** */

/* ******************************************
        COMIENZO DE LA SECCIÓN PRESENTACIÓN
    ****************************************** */

.seccion-presentacion{
    width: 100%;
    padding: 6rem 1rem;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.saludo{
    font-size: 5rem;
    line-height: 4rem;
}

.hola-soy{
    font-size: 2rem;
    font-weight: 900;
}

.descripcion{
    font-size: 1.1rem;
    font-weight: 200;
    margin-top: 2rem;
}

.contenedor-imagen-mujer{
    height: 32rem;
    width: 38rem;
}

.imagen-mujer{
    width: 100%;
    height: 100%;
}

.boton-lo-que-hago{
    height: 3rem;
    width: 12rem;
    border-radius: 2rem;
    background-color: dimgrey;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.boton-link{
    text-decoration: none;
}

.boton-link:visited{
    color: white;
}

.boton-lo-que-hago:hover{
    background-color: rgb(153, 148, 148);
    transition: 0.4s;
}

/* ******************************************
        FINAL DE LA SECCIÓN PRESENTACIÓN
    ****************************************** */

/* *********************************************
        COMIENZO DE LA SECCIÓN DE CONOCIMIENTOS
    ******************************************** */

.seccion-conocimientos{
    width: 100%;
    padding: 6rem 1rem;
    background-color: rgb(227, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo-seccion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-seccion{
    font-size: 4rem;
}

.parrafo-seccion{
    text-align: center;
    font-weight: 200;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.contenedor-conocimientos{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.tarjeta-conocimientos{
    height: 15rem;
    width: 15rem;
    margin: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(244, 237, 237) ;
    border: 1px solid gray;
    border-radius: 0.6rem;
}

.icono-conocimientos{
    font-size: 5rem;
}


.tarjeta-titulo{
    margin-top: 1rem;
}

.tarjeta-conocimientos:hover{
    border: 1px solid black;
    cursor: pointer;
    color: brown;
}

/* *********************************************
        FINAL DE LA SECCIÓN DE CONOCIMIENTOS
    ******************************************** */

/* *********************************************
        COMIENZO DE LA SECCIÓN DE CITA
    ******************************************** */    

.seccion-cita{
    padding: 7rem 0.5rem;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
}

.icono-cita{
    font-size: 7rem;
    color: antiquewhite;
    margin-bottom: 2rem;
}

.cita{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.autor{
    color: aliceblue;
    font-size: 1.8rem;
}

/* *********************************************
        FINAL DE LA SECCIÓN DE CITA
    ******************************************** */    

/* *********************************************
        COMIENZO DE LA SECCIÓN DE PROYECTOS
    ******************************************** */    

.seccion-proyectos{
    padding: 4rem 0.5rem;
    width: 100%;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-proyectos{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.proyectos-link{
    text-decoration: none;
}

.proyectos-link:visited{
    color: black;
}

.tarjeta-proyecto{
    height: 19rem;
    width: 19rem;
    margin: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(244, 237, 237) ;
    border: 1px solid gray;
    border-radius: 5%;
    color: black;
}

.imagen-proyecto{
    height: 80%;
    width: 80%;
}

.proyectos-titulo{
    font-size: 1.2rem;
}

.tarjeta-proyecto:hover{
    border: 1px solid black;
    color: blueviolet;
}

/* *********************************************
        FINAL DE LA SECCIÓN DE PROYECTOS
    ******************************************** */    

/* *********************************************
        COMIENZO DE LA SECCIÓN DE CONTACTOS
    ******************************************** */    

.seccion-contactos{
    width: 100%;
    padding: 10rem 8rem;
    background-color: rgb(243, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactos-contenedor{
    padding: 5rem 4rem ;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid gainsboro;
}

.ficha-redes-sociales{
    height:36rem;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 2rem ;
    
    
}

.titulo-redes, .titulo-formulario{
    font-size: 3rem;
    margin-bottom: 1.5rem;
   
}

.parrafo-redes{
    font-size: 1.1rem;
}

.contenedor-lista-redes{
    margin-top: 2rem;
}

.lista-redes{
    display:flex;
    flex-direction: column;
}

.elemento-lista-redes{
    border-radius: 2rem;
    padding: 0.5rem 0.5rem ;
    list-style: none;
    margin-bottom: 1%; 
    font-size: 1.1rem;  
    
}

.link-redes{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.link-redes:visited{
    color: black;
}

.icono-redes{
    font-size: 1.5rem;
    color: darkviolet;
    padding: 2%;
    border: 2rem;
    margin-right: 0.5rem;
    
}

.elemento-lista-redes:active{
    border: violet;
    box-shadow: 0 0 10px 1px rgb(240, 180, 240);
}

.elemento-lista-redes:hover .icono-redes{
    background-color: blueviolet;
    color: white;
    padding: 2%;
    border-radius: 50%;
}

.elemento-lista-redes:hover .link-redes{
    color: darkorchid ;
}


.contenedor-formulario{
    height: 36rem;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3rem;
    
}

.formulario{
    height:100%;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bolder;
}

.controles-nombre-apellido{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.margin06{
    margin-right: 0.6rem;
}

.control-email{
    display: flex;
    flex-direction: column;
}

.formulario-mensaje{
    padding: 0.5rem;
    height: 6rem;
    overflow-y: scroll;
    resize: none;
}

.formulario input:not([type=submit]),  .formulario-mensaje{
    width: 100%;
    margin: 0.6rem 0 0 0;
    font-size: 1rem;
    padding: 3%;
    overflow: hidden;
    border: 0;
    border-radius: 2rem;
    background-color: rgb(249, 244, 249);    
}

.formulario input:focus{
    outline: unset;
    border: rgb(240, 180, 240) ;
    box-shadow: 0 0 10px 1px rgb(240, 180, 240);
}

.formulario-mensaje:focus{
    outline: unset;
    border: rgb(240, 180, 240) ;
    box-shadow: 0 0 10px 1px rgb(240, 180, 240);
}

.btn{
   height: 3rem;
   width: 7rem;
   background-color:grey;
   border-radius: 2rem;
   color: white;
   border: grey;
   margin-top: 1rem;
}


.btn:hover{
    background-color: rgb(153, 148, 148);
    transition: 0.4s;
}

/* *********************************************
        FINAL DE LA SECCIÓN DE CONTACTOS
    ******************************************** */    

/* *********************************************
                COMIENZO DEL FOOTER
    ******************************************** */        

footer{
    padding: 6rem 1rem;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .footer-menu{
    width: auto;
    display: flex;
    color: aliceblue;
    margin-bottom: 2rem;
}

.elemento-footer-menu{
    margin-right: 1rem;
    list-style: none;
}

.link-footer-menu{
    text-decoration: none;
    color: aliceblue;
}

.link-footer-menu:visited{
    color:white;
}

.link-footer-menu:hover{
    color: black;
}

.footer-redes-list{
    width: auto;
    display: flex;
    color: aliceblue;
    margin-bottom: 3rem;
}

.footer-redes-elemento{
    margin-right: 1rem;
    list-style: none;
}

.iconos-footer{
    font-size: 1.3rem;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: cornsilk;
    color: blueviolet;
}

.iconos-footer:hover{
    background-color: blueviolet;
    border: 1px solid white;
    color: white;
}

.iconos-footer:active{
    box-shadow: 0 0 20px 1px white;
}

/* *********************************************
                FINAL DEL FOOTER
    ******************************************** */        


/* -----------------Inicio responsive--------------------------------- */

@media (max-width:900px) and (min-width:600px){

    *{
        font-size: 15px;
    }

    .menu-superior{
        visibility: hidden;
    }

    .seccion-presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .presentacion-saludo{
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    .contenedor-imagen-mujer{
      max-width: 25rem;
    }

    .contenedor-titulo-seccion{
        text-align: center;
    }

    .contactos-contenedor{
        padding: 10rem 4rem ;
    }

    .contactos-contenedor{
        display: flex;
        flex-direction: column;
    }

    .ficha-redes-sociales{
        width: 100%;
        height: auto;
        padding-bottom: 3rem;
    }

    .lista-redes{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .elemento-lista-redes{
        width: 100%;
    }
   
    .contenedor-formulario{
        width: 100%;
        height: auto;
    }

}




@media (max-width:599px) and (min-width:400px) {

    *{
        font-size: 15px;
    }

    section{
        padding: 6rem 0;
    }

    .menu-superior{
        visibility: hidden;
    }

    .seccion-presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .presentacion-saludo{
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    .contenedor-imagen-mujer{
      max-width: 25rem;
    }

    .contenedor-titulo-seccion{
        text-align: center;
    }

    .contactos-contenedor{
        display: flex;
        flex-direction: column;
    }

    .ficha-redes-sociales{
        width: 100%;
    }

    .contenedor-formulario{
        width: 100%;
    }

    .footer-menu{
        display: none;
    }
}


@media (max-width:399px) {

    *{
        font-size: 10px;
    }
 
    .menu-superior{
        visibility: hidden;
    }

    .seccion-presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .presentacion-saludo{
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    .contenedor-imagen-mujer{
      max-width: 25rem;
    }

    .contenedor-titulo-seccion{
        text-align: center;
    }

    .contenedor-proyectos{
        width: 100%;
    }

    .tarjeta-proyecto{
        min-width: 20rem;
        min-height: 20rem;
    }

    .contactos-contenedor{
        display: flex;
        flex-direction: column;
        
    }

    .ficha-redes-sociales{
        min-width: 15rem;
    }

    .contenedor-formulario{
        min-width: 15rem;
    }

    .footer-menu{
        display: none;
    }
}