*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Comienzo del menu de navegacion */

.menu-superior {
    height: 80px;
    width: 100%;
    background-color: gray;
    position: fixed;
    margin-top: 0;
    padding-right: 10%;
    box-shadow: 5px 0 20px gray  ;
}

.list-menu{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
    
       
}

.elemento-menu{
    margin-right: 20px;
    list-style: none;
    
}

.elemento-menu a{
    text-decoration: none;
    color: aliceblue;
}

.elemento-menu a:visited{
    color:white;
}

.elemento-menu a:hover{
    color: black;
}


.boton-contacto{
    height: 40px;
    width: 100px;
    border-radius: 50px 50px 50px 50px;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.elemento-boton-contacto{
    list-style: none;
    color: white;
}

.elemento-boton-contacto a{
    text-decoration: none;
    color: beige;
}

.elemento-boton-contacto a:visited{
    color: white;
}

.boton-contacto:hover{
    background-color: rgb(153, 148, 148);
    transition: 0.4s;
}

/* Final del menú de navegación */

/* Comienzo de la sección de presentación */

.presentacion{
    height: 700px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;     
    
}


.saludo h1{
    font-size: 42px;
}
.hola{
 font-size: 34px;
}

.saludo p{
    font-size: 21px;
}

.image-woman-contenedor{
    height: 500px;
    width: 600px;
}
.image-woman{
    width: 100%;
    height: 100%;
}

.buttom-loquehago{
    height: 40px;
    width: 100px;
    border-radius: 50px 50px 50px 50px;
    background-color: dimgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 2em;
}

.buttom-loquehago a{
    text-decoration: none;
    
}

.buttom-loquehago a:visited{
    color: white;
}

.buttom-loquehago:hover{
    background-color: rgb(153, 148, 148);
    transition: 0.4s;

}

/* Final de la sección de presentación */

/* Comienzo de la sección de conocimientos */

.conocimientos{
    height:900px ;
    width: 100%;
    background-color: rgb(227, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encabezado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encabezado h2{
    font-size: 42px;
}

.encabezado p{
    text-align: center;
    margin-top: 20px;
    font-size: 21px;
}
.skills{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}

.skills-item{
    height: 250px;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(244, 237, 237) ;
    border: 1px solid gray;
    border-radius: 5%;
}

.skills-item p{
    margin-top: 20px;
}

.skills-item:hover{
    border: 1px solid black;
    cursor: pointer;
    color: brown;
}

/* Final de la sección de conocimientos */

/* Comienzo de la sección de cita */

.quote{
    height: 500px;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
}

.fa-quote-right{
 color: antiquewhite;
}

.cita{
    color: white;
    font-size: 21px ;
    text-align: center;
}

.autor{
    color: aliceblue;
    font-size: 28px;
}
/* Final de sección de cita  */

/* Comienzo de la sección de proyectos */

.proyectos{
    height: 1200px;
    width: 100%;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-proyect{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-proyect h2{
    font-size: 42px;
    margin-top: 50px;
}

.title-proyect p{
    font-size: 21px;
    margin-top: 20px;
}

.card-proyects{
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    
}

.card-proyects a{
    text-decoration: none;
}

.card-proyects a:visited{
    color: black;
}

.card-proyect{
    height: 300px;
    width:300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(244, 237, 237) ;
    border: 1px solid gray;
    border-radius: 5%;
    color: black;
}

.card-proyect img{
    height: 80%;
    width: 80%;
}

.card-proyect h3{
    font-size: 21px;
}

.card-proyect:hover{
    border: 1px solid black;
    color: blueviolet;
}

/* Final de la sección de proyectos */

/* Comienzo de sección de contactos */

.contactos{
    height: 800px;
    width: 100%;
    background-color: rgb(243, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactos-contenedor{
    height: 80%;
    width: 80%;
    background-color: beige;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.medios{
    height:90%;
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
}

.medios h2{
    font-size: 42px;

}

.medios p{
    margin-top: 10%;
    font-size: 19px;

}

.medios-list{
    margin-top: 30px;
}

.medios-list1{
    display:flex;
    flex-direction: column;
    
}

.medios-list-item{
    border-radius: 20px;
    padding: 5px;
    list-style: none;
    margin-bottom: 5%;
    
    

}

.medios-list-item a{
    text-decoration: none;
    color: black;
}

.medios-list-item a:visited{
    color: black;
}

.medios-list-item a:hover{
    color: darkviolet;
}

.medios-list-item i{
    font-size: 21px;
    color: darkviolet;  
    padding: 2%;
    border: 50%;        
}

.medios-list-item i:hover{
    background-color: blueviolet;
    color: white;
    padding: 2%;
    border-radius: 50%;   
}

.medios-list-item:active{
    border: violet;
    box-shadow: 0 0 10px 1px rgb(240, 180, 240);
}


.formulario{
    height: 90%;
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4%;
    font-size: 16px;    
    
}

.formulario h2{
    font-size: 3rem;
    margin-bottom: 10%;
    
}

.form-contacto{
    height:100%;
    width: 100%;  
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: bolder;
  
}
.nombre-apellido{
    width: 100%;
    display: flex;
    flex-direction: row;      
}

.form-email{
    display: flex;
    flex-direction: column;
}

.form-contacto input:not([type=submit]),  textarea{
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 16px;
    padding: 3%;
    overflow: hidden;
    border: 0;
    border-radius: 20px;
    background-color: rgb(249, 244, 249) ;
    transition: 4sg;
    
}

.form-contacto input:focus{
    outline: unset;
    border: rgb(240, 180, 240) ;
    box-shadow: 0 0 10px 1px rgb(240, 180, 240);
    
}

.form-contacto textarea:focus{
    outline: unset;
    border: rgb(240, 180, 240) ;
    box-shadow: 0 0 10px 1px rgb(240, 180, 240);   
}

.btn{ 
   height: 40px;
   width: 100px;
   background-color:grey;
   border-radius: 20px;
   color: white;
   border: grey;
}   


.btn:hover{
    background-color: rgb(153, 148, 148);
    transition: 0.4s;
}


/* Final de la sección de contactos */


 /* Comienzo del footer */

 footer{
    width: 100%;
    height: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .footer-menu{
    width: auto;
    height: 80px;
    display: flex;
    color: aliceblue;
    
       
}

.footer-menu li{
    margin-right: 20px;
    list-style: none;
    
}

.footer-menu a{
    text-decoration: none;
    color: aliceblue;
}

.footer-menu a:visited{
    color:white;
}

.footer-menu a:hover{
    color: black;
}

.redes{
    width: auto;
    height: 80px;
    display: flex;
    color: aliceblue;
}

.redes li{
    margin-right: 20px;
    list-style: none;
}

/* Final del footer */